In [53]:
import pandas as pd
import matplotlib as plot
import numpy as np

In [54]:
dys_db = pd.read_csv(r"C:\Users\LC Harrison Sand\Documents\DBs\ScienceFictionDB\sf_dystopia.csv", index_col = "Book_Title")

display(dys_db.head(5))
display(dys_db.tail(5))

,Original_Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,Genres,url
Book_Title,,,,,,,,,,
The Hunger Games,The Hunger Games,Suzanne Collins,English,4.33,6570886,174054,"Could you survive on your own in the wild, wit...",2008,"{'Young Adult': 31061, 'Fiction': 17561, 'Scie...",https://www.goodreads.com/book/show/2767052-th...
Catching Fire,Catching Fire,Suzanne Collins,English,4.29,2605247,97929,Sparks are igniting.Flames are spreading.And t...,2009,"{'Young Adult': 26369, 'Science Fiction (Dysto...",https://www.goodreads.com/book/show/6148028-ca...
Mockingjay,Mockingjay,Suzanne Collins,English,4.05,2419502,102438,My name is Katniss Everdeen.Why am I not dead?...,2010,"{'Young Adult': 24914, 'Science Fiction (Dysto...",https://www.goodreads.com/book/show/7260188-mo...
Divergent,Divergent,Veronica Roth,English,4.19,3007473,109091,"In Beatrice Prior's dystopian Chicago world, s...",2011,"{'Young Adult': 20859, 'Science Fiction (Dysto...",https://www.goodreads.com/book/show/13335037-d...
1984,Nineteen Eighty-Four,George Orwell,English,4.19,3275862,73090,"Among the seminal texts of the 20th century, N...",1949,"{'Classics': 35921, 'Fiction': 22429, 'Science...",https://www.goodreads.com/book/show/40961427-1984

,Original_Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,Genres,url
Book_Title,,,,,,,,,,
Bones of Faerie,Bones of Faerie,Janni Lee Simner,English,3.63,7935,887,The war between humanity and Faerie devastated...,2008,"{'Fantasy': 453, 'Young Adult': 321, 'Paranorm...",https://www.goodreads.com/book/show/3379051-bo...
The Kingdom,The Kingdom,Jess Rothenberg,English,3.83,5923,1511,\nWelcome to the Kingdom... where 'Happily Eve...,2019,"{'Science Fiction': 327, 'Young Adult': 313, '...",https://www.goodreads.com/book/show/40864907-t...
約束のネバーランド 1 [Yakusoku no Neverland 1,約束のネバーランド 1,Kaiu Shirai,Japanese,4.47,23180,1264,母と慕う彼女は親ではない。共に暮らす彼らは兄弟ではない。エマ・ノーマン・レイの三人はこの小さ...,2016,"{'Sequential Art (Manga) ': 1565, 'Fantasy': 1...",https://www.goodreads.com/book/show/34106559-1...
Born to be Broken,Born to be Broken,Addison Cain,English,3.99,4767,358,Claire has a score to settle.Unwilling mate to...,2016,"{'Dark': 104, 'Paranormal (Omegaverse) ': 99, ...",https://www.goodreads.com/book/show/30350763-b...
Smoke,Smoke,Dan Vyleta,English,3.26,5495,1083,In an alternate Victorian England those who ar...,2016,"{'Fantasy': 392, 'Fiction': 205, 'Historical (...",https://www.goodreads.com/book/show/27208482-s...

In [55]:
display(dys_db.info())
display(dys_db.isnull().sum())
display(dys_db.index)

<class 'pandas.core.frame.DataFrame'>
Index: 1242 entries, The Hunger Games to Smoke
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Original_Book_Title  1242 non-null   object
 1   Author_Name          1242 non-null   object
 2   Edition_Language     1210 non-null   object
 3   Rating_score         1242 non-null   float64
 4   Rating_votes         1242 non-null   int64
 5   Review_number        1242 non-null   int64
 6   Book_Description     1241 non-null   object
 7   Year_published       1242 non-null   int64
 8   Genres               1242 non-null   object
 9   url                  1242 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 106.7+ KB

None

Original_Book_Title     0
Author_Name             0
Edition_Language       32
Rating_score            0
Rating_votes            0
Review_number           0
Book_Description        1
Year_published          0
Genres                  0
url                     0
dtype: int64

Index(['The Hunger Games', 'Catching Fire', 'Mockingjay', 'Divergent', '1984',
       'The Handmaid's Tale', 'Insurgent', 'Brave New World', 'Fahrenheit 451',
       'The Giver',
       ...
       'After Daybreak', 'Portrait of a Starter: An Unhidden Story',
       'Rise of the Governor', 'The Testament of Jessie Lamb', 'Control',
       'Bones of Faerie', 'The Kingdom',
       '約束のネバーランド 1 [Yakusoku no Neverland 1', 'Born to be Broken', 'Smoke'],
      dtype='object', name='Book_Title', length=1242)

In [56]:
display(dys_db.describe())

       Rating_score  Rating_votes  Review_number  Year_published
count   1242.000000  1.242000e+03    1242.000000     1242.000000
mean       3.911844  8.590806e+04    4964.190821     2002.611916
std        0.278156  3.163641e+05   11313.237182       84.109072
min        2.810000  6.700000e+02      38.000000        0.000000
25%        3.720000  5.140500e+03     596.000000     2008.250000
50%        3.920000  1.340100e+04    1363.500000     2012.000000
75%        4.110000  4.710625e+04    4237.750000     2014.000000
max        4.570000  6.570886e+06  174054.000000     2020.000000

In [64]:
dys_db.loc[dys_db["Year_published"] == 0]

Empty DataFrame
Columns: [Original_Book_Title, Author_Name, Edition_Language, Rating_score, Rating_votes, Review_number, Book_Description, Year_published, Genres, url, Year_Published]
Index: []

In [58]:
dys_db.loc[((dys_db.index == "The Seeker") & (dys_db["Author_Name"] == "Stephenie Meyer")), "Year_published"] = 2015

In [62]:

dys_db.index = dys_db.index.str.strip()
dys_db["Author_Name"] = dys_db["Author_Name"].str.strip()
dys_db.loc[((dys_db.index == "Juniper Unraveling") & (dys_db["Author_Name"] == "Keri Lake")), "Year_published"] = 2017

In [63]:
print(dys_db.loc[((dys_db.index == "Juniper Unraveling") & (dys_db["Author_Name"] == "Keri Lake"))])

                         Original_Book_Title Author_Name Edition_Language  \
Book_Title
Juniper Unraveling  \nJuniper Unraveling #1    Keri Lake              NaN

                    Rating_score  Rating_votes  Review_number  \
Book_Title
Juniper Unraveling          4.14          1313            296

                                                     Book_Description  \
Book_Title
Juniper Unraveling  Papa says everyone has a story that deserves t...

                    Year_published  \
Book_Title
Juniper Unraveling            2017

                                                               Genres  \
Book_Title
Juniper Unraveling  {'Dark': 66, 'Romance': 60, 'Science Fiction (...

                                                                  url  \
Book_Title
Juniper Unraveling  https://www.goodreads.com/book/show/35172048-j...

                    Year_Published
Book_Title
Juniper Unraveling          2017.0